/* Default styling for the website */
html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  scroll-behavior: smooth;
}

/* Styling for the header section */
header {
  width: 100%;
  height: 69px;
  background-color: black;
  border-bottom: 1px solid seashell;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 10;
}

#logo {
  height: 50px;
  margin-left: 10px;
}

#nav {
  font-size: 1rem;
}

a {
  text-decoration: underline;
  margin: 0px 10px;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
  color: gray;
}

/* Styling for the main document */
main {
  padding: 0px 20px;
  position: relative;
  top: 69px;
}

/* Styling for the mission statement */
.section1 {
  background-image: url(/Users/lexus/Projects/Tea-Cozy/Resources/Images/img-mission-background.jpg);
  height: 700px;
  width: 1200px;
  align-content: center;
}

.mission-container {
  background-color: black;
}

/* Styling for the types of teas offered */
.section2 {
  width: 1000px;
  padding-left: 80px;
}

.teas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  width: 300px;
  height: 200px;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-bottom: 60px;
}

.caption {
  margin-top: 10px;
}

/* Styling for the locations section */
.section3 {
  height: 500px;
  background-image: url(/Users/lexus/Projects/Tea-Cozy/Resources/Images/img-locations-background.jpg);
  align-content: center;
}

.locations {
  display: flex;
  justify-content: center;
}

.location {
  width: 300px;
  margin-top: 15px;
  margin-right: 40px;
  background-color: black;
  opacity: 1;
}


